<div class= "footer">
    <div class = "footer-content">
        <div class="footer-sectionaboutus"> 
            <h4>About us</h4>
            <a href="#">Blog</a>
            <a href="#">Contact Us</a>
            <a href="#">What we do</a>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Terms</a>
        </div>

        <div class="footer-sectionresources"> 
            <h4>Resources </h4>
            <a href="#">Service Map</a>
            <a href="#">Housing Assistance</a>
            <a href="#">Other Resources</a>
        </div>

        <div class="footer-sectionjoin">
            <h4>Join us</h4>
            <a href="#">For Providers</a>
            <a href="#">For volunteers </a>
            <a href="#">Privacy Terms</a>
        </div>

    </div>

    <!-- <div class="footer-bottom">
         @ Created by lljm

    </div> -->
    
 </div>