html, 
body {
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #20B2AA;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color:#20B2AA;
}

.pageTitle {
    color:white;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
}

.nav-links li{
    list-style: none;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-left: 20%;
    
    
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}




