<div class="text-center">
    
    <h1  class="mb-2">Welcome to Shelter Helper</h1>
    <h1>How can we help you today?</h1>

    <div class="row d-flex justify-content-center">

    <div class="card m-4" style="width: 18rem;">
        <img src="images/vancouver-map.png" class="card-img-top" alt="vancouver map icon">
        <div class="card-body">
          <a href="map" class="btn btn-outline-dark">Find Local Shelters</a>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem;">
        <img src="images/shelter-login.png" class="card-img-top" alt="shelter login icon">
        <div class="card-body">
          <a href="shelter_login" class="btn btn-outline-dark">Shelter Login</a>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem;">
        <img src="images/help-image.png" class="card-img-top" alt="shelter login icon">
        <div class="card-body">
          <a href="#" class="btn btn-outline-dark">More Resources</a>
        </div>
      </div>

    </div>
    
    
</div>

