<div><h1>Map</h1></div>
<div id="storelocatorwidget" style="width:100%;"><p>Loading <a href="https://www.storelocatorwidgets.com">Locator Software</a>...</p></div>
<script type="text/javascript" src="//cdn.storelocatorwidgets.com/widget/mapbox-gl.js"></script>
<script type="text/javascript" id="storelocatorscript" data-uid="d01db8b39fbd9bec9545f90e4fbc4017" data-platform="MapTiler" src="//cdn.storelocatorwidgets.com/widget/widget.js"></script>