
<link rel = "stylesheet" href = "profile_page_style.css">

<div class="alert alert-light"><h3>profile page</h3></div>
<div class="container profile-info-display">

    <div class="row">
        <div class="col-sm border-right card info-card">
            <div class="card-body info-content">
                <div class="info-top">    
                    <h1 class="info-big">10</h1>
                </div>
                <div class="info-descriptor">
                    <h3>Beds Available</h3>
                    <button type="button" class="btn btn-info edit-button">Edit</button>
                </div>

    
            </div>
        </div> 

        <div class="col-sm border-right card info-card">
            <div class="card-body info-content">
                <div class="info-top">    
                    <h1 class="info-medium">Open</h1>
                </div>
                <div class="info-descriptor">
                    <h3>9 AM - 5 PM</h3>
                    <button type="button" class="btn btn-info edit-button">Edit</button>
                </div>

    
            </div>
        </div>

        <div class="col-sm card info-card">
            <div class="card-body info-content services-card">
                <div >
                    <h1 class="services-font">Services Provided</h1>
                </div>
                <button type="button" class="btn btn-info edit-button edit-services-btn">Edit</button>
    
            </div>
        </div>

    </div>

</div>

<div class="card">
    <div class="card-body">
    
        <h4 class="card-title profile-info-box">Profile Information</h4>                 
        <button type="button" class="btn btn-info">Edit</button>
        <div class="profile-info">
            <h4 class="profile-info-text">Name of Shelter: </h4>
            <h5 class="profile-info-text">Address: </h5>
            <h5 class="profile-info-text">Phone: </h5>
            <h5 class="profile-info-text">Email: </h5>
            <h5 class="profile-info-text">Website URL: </h5>
            <h5 class="profile-info-text">Hours of Operation: </h5>
        </div>
    </div>
</div>

