<div class="card-body">
    
    <h2 class="card-title profile-info">Shelter Login</h4>                 

    <div>
        <div class="col-4 m-2">
        <h4>User Name: </h4>
        <div class="col-sm-10">
        <input type="email" class="form-control"  placeholder="Test_Username">
        </div>
        </div>

        <div class="col-4 m-2">
            <h4>Password: </h4>
            <div class="col-sm-10">
            <input type="password" class="form-control"  placeholder="***********">
            </div>


    <a href="profile" class="btn btn-outline-dark my-5">Log In</a>
</div>